/subzero
*.sqlite*
*.exe
*.BIN
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.app
*.bat
*.cgi
*.com
*.gadget
*.jar
*.pif
*.vb
*.wsf
/out
vendor/
/Godeps
*.iml
*.ipr
.idea
*.iws
/.vscode
.tmp-*
.env
*.patch
go.work

subzero-ion-connect
subzero-ion-connect-authgen
subzero-ion-connect-indexer
subzero-ion-connect-keygen

!subzero-ion-connect/
!subzero-ion-connect-authgen/
!subzero-ion-connect-indexer/
!subzero-ion-connect-keygen/

.test-uploads2
