<!--
 SPDX-License-Identifier: ice License 1.0
-->

{% extends "base.html" %}

{% block title %}{{ dashboard_name }} | Server Selection{% endblock %}

{% block content %}
    <h1>Select a Database Server</h1>
    <ul class="server-list">
        {% if 'total' in servers %}
            <li>
                <a href="{{ url_for('select_server', server_alias='total') }}" class="total-link">
                    Total
                    <span class="hostname">({{ servers.total.display_name }})</span>
                </a>
            </li>
        {% endif %}
        {% for alias, details in servers.items() if alias != 'total' %}
            <li>
                <a href="{{ url_for('select_server', server_alias=alias) }}">
                    {{ alias }}
                    <span class="hostname">({{ details.display_name }})</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
